
{% extends "base.html" %}
{% block content %}
<div class="container" align="center">
  <h2>IICS Login</h2>
  <br>
  <form action="{{url_for('login')}}" method="post">
    <input type="text" placeholder="Username" name="username" value="{{
      request.form.username }}">
    <input type="password" placeholder="Password" name="password" value="{{
      request.form.password }}">
    <input class="btn btn-default" type="submit" value="Login">
  </form>
  <p style = "font-family:sans-serif;font-size:14px;">Don't have account? <a href="/signup">Sign up here</a></p>
</div>
      
{% endblock %}